body {
  margin: 0;
  background-color: #444;
}
input[type=text] {
  width: 100%;
  padding: 4px;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  color: #f1f1f1;

  &:focus {
    outline: 0;
  }
}

#create {
  padding: 8px;

}

#list {
  list-style: none;
  padding-left: 0;

  > li {
    display: flex;
    overflow: hidden;
    padding: 8px;
    background-color: #3261AB;
    color: #fff;

    .text {
      flex: 1;
    }

    .done {
      cursor: pointer;
      flex-basis: 1em;
    }
  }
}
